@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

header{
	background: url(../img/bg1.png);
	background-size: cover;
	background-position: center;
	min-height: 1000px;
}

footer {
	flex: 1 0 auto;
}

nav {
	font-weight: 300;
}

body>.container {
	padding-top: 50px;
	min-height: 75vh;
}
.bold {
	font-weight: bold;
}
.stretch {
	position: relative;
	min-height: 73vh; /* calculated for 1920 x 1080 */
}
h2{
	text-align: center;
	margin-top: 120px;
	margin-bottom: 0px;
}
.rankingContainer{
	margin-top: 100px;
}

/* PROFIL */

.context {
	width: 100%;
	position: absolute;
	top:10vh;
	right: 8px;
}

.context h1{
	text-align: center;
	color: #fff;
	font-size: 50px;
}


.area{
	background: #4e54c8;
	background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
	width: 100%;
	height:102vh;
}

.circles{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.circles li{
	position: absolute;
	display: block;
	list-style: none;
	width: 20px;
	height: 20px;
	background: rgba(255, 255, 255, 0.2);
	animation: animate 25s linear infinite;
	bottom: -150px;

}

.circles li:nth-child(1){
	left: 25%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}


.circles li:nth-child(2){
	left: 10%;
	width: 20px;
	height: 20px;
	animation-delay: 2s;
	animation-duration: 12s;
}

.circles li:nth-child(3){
	left: 70%;
	width: 20px;
	height: 20px;
	animation-delay: 4s;
}

.circles li:nth-child(4){
	left: 40%;
	width: 60px;
	height: 60px;
	animation-delay: 0s;
	animation-duration: 18s;
}

.circles li:nth-child(5){
	left: 65%;
	width: 20px;
	height: 20px;
	animation-delay: 0s;
}

.circles li:nth-child(6){
	left: 75%;
	width: 110px;
	height: 110px;
	animation-delay: 3s;
}

.circles li:nth-child(7){
	left: 35%;
	width: 150px;
	height: 150px;
	animation-delay: 7s;
}

.circles li:nth-child(8){
	left: 50%;
	width: 25px;
	height: 25px;
	animation-delay: 15s;
	animation-duration: 45s;
}

.circles li:nth-child(9){
	left: 20%;
	width: 15px;
	height: 15px;
	animation-delay: 2s;
	animation-duration: 35s;
}

.circles li:nth-child(10){
	left: 85%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 11s;
}



@keyframes animate {

	0%{
		transform: translateY(0) rotate(0deg);
		opacity: 1;
		border-radius: 0;
	}

	100%{
		transform: translateY(-1000px) rotate(720deg);
		opacity: 0;
		border-radius: 50%;
	}

}

.rocnik{
	margin-bottom: 15px;
	margin-top: 15px;
	width: 120px;
}


.tlacitka1{
	margin-top: 50px;
}
.temyPodRocnikom{
	width: 100px;
}

.cardRocniky{
	width: 300px;
	text-align: center;
	margin: auto;
}

.cardRocnikyContent{
	height: 450px;
	text-align: center;
}

.buttonclass{
	width: 150px;
	text-align: center;
	margin: auto;
	margin-bottom: 20px;
}

.sectionCard{
	height: 450px;
	text-align: center;
}
.jednoVlakno{
	height: 100px;
	border: 3px solid white;
}

.scrollTopics{
	max-height: 450px;
	display: block;
	overflow: hidden;
}

.nazovVlakna{
	font-size: 25px;
}

.kdeSom{
	position: absolute;
	width: 350px;
	height: 70px;
	margin-left: 200px;
	margin-bottom: -100px;
}

.oblubeneVlakna{
	width: 100%;
	height: 70px;
	font-weight: 300;
}

.oblubeneVlakno{
	margin-top: 12px;
}

.oblubeneTemy {
	width: 150px;
	height: 70px;
	padding-top: 23px;
	padding-right: 10px;
	padding-left: 10px;
	border-right: 5px outset white;
}

.oblubenyPredmet{
	width: 100px;
	height: 70px;
	border-right: 5px outset white;
}

.rowRok{
	margin-top: 120px;
}

.navratoveTlacitko{
	width: 150px;
	padding: 0px;
}
.scrollDown{
	position: fixed;
	top: 69px;
	right: 10px;
}
.scrollUp{
	position: fixed;
	bottom: 69px;
	right: 10px;
}

.username{
	margin-bottom: -100px;
	font-size: 17px;
	font-family: "Comic Sans MS";
	color: white;
}

.bluebox{
	position: absolute;
	width: 160px;
	height: 60px;
	margin-top: 10px;
}

.infoCard{
	height: 306px;
}

.statisticsCard{
	height: 306px;
}

.profilCard{
	margin-top: 80px;

}
.rowContainer{
	width: 1500px;
}

.cardRanking{
	width: 550px;
}
.rowRanking{
	margin-top: 100px;
	margin-bottom: 100px;
	margin-right: 100px;
}

.rankingDiv{
	display: flex;
	flex-direction: row;
	width: 100%;
}

.novaTema{
	position: fixed;
	top: 150px;
	right: 1px;
}

.rankingCislo{
	font-size: large;
	margin-left: 5px;
	margin-right: 5px;
}

.popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.popup .popuptext {
	visibility: hidden;
	width: 160px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -80px;
}

.popup .popuptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity:1 ;}
}


.namebox{
	position: absolute;
	width: auto;
	padding-right: 12px;
	padding-left: 12px;
	height: 42px;
	margin-top: -20px;
	margin-right: -100px;
	border-radius: 0px 10px 0px 13px;
}

.datebox{
	position: absolute;
	width: auto;
	padding-right: 12px;
	padding-left: 12px;
	height: 23px;
	border-radius: 11px 0px 10px 0px;
}

.datefont{
	font-size: 13px;
	font-family: "Comic Sans MS"
}

.username{
	font-size: 16px;
	font-family: "Comic Sans MS"
}


.infoCard{
	height: 200px;
}

.statisticsCard{
	height: 200px;
}

.profilCard{
	margin-top: 120px;

}


.rankingDiv{
	display: flex;
	flex-direction: row;
	width: 100%;
}

.sipka{

}

.rankingCislo{
	font-size: large;
	margin-left: 5px;
	margin-right: 5px;
}

.popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.popup .popuptext {
	visibility: hidden;
	width: 160px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -80px;
}

.popup .popuptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity:1 ;}
}

.firstPlace{
	font-size: 35px;
	margin: 0;
	padding: 0;
}


.secondPlace{
	font-size: 30px;
	margin: 0;
	margin-left: 1px;
	margin-right: 2px;
	padding: 0;
}

.thirdPlace{
	font-size: 25px;
	margin: 0;
	margin-left: 2px;
	margin-right: 6px;
	padding: 0;
}

.brand-logo{
	height: 70px;
}

.likeDiv{
	margin-left: 450px;
	margin-bottom: 4px;
}

.infoCard{
	height: 306px;
}

.statisticsCard{
	height: 306px;
}

.profilCard{
	margin-top: 80px;

}


.rowRanking{
	margin-top: 100px;
	margin-bottom: 100px;
	margin-right: 100px;
	width: 1100px;
}

.rankingDiv{
	display: flex;
	flex-direction: row;
	width: 100%;
}

.sipka{

}

.rankingCislo{
	font-size: large;
	margin-left: 5px;
	margin-right: 5px;
}

.popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.popup .popuptext {
	visibility: hidden;
	width: 160px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -80px;
}

.popup .popuptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity:1 ;}
}


.infoCard{
	height: 200px;
}

.statisticsCard{
	height: 200px;
}

.profilCard{
	margin-top: 120px;

}


.rankingDiv{
	display: flex;
	flex-direction: row;
	width: 100%;
}

.sipka{

}

.rankingCislo{
	font-size: large;
	margin-left: 5px;
	margin-right: 5px;
}

.popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.popup .popuptext {
	visibility: hidden;
	width: 160px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -80px;
}

.popup .popuptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity:1 ;}
}

.firstPlace{
	font-size: 35px;
	margin: 0;
	padding: 0;
}


.secondPlace{
	font-size: 30px;
	margin: 0;
	margin-left: 1px;
	margin-right: 2px;
	padding: 0;
}

.thirdPlace{
	font-size: 25px;
	margin: 0;
	margin-left: 2px;
	margin-right: 6px;
	padding: 0;
}

.brand-logo{
	height: 70px;
}

.likeDiv{
	margin-left: 450px;
	margin-bottom: 4px;
}



.precitaneVlakno{
	background-color: white;
}

.neprecitaneVlakno{
    background-color: lightgray;
}

.float-no {
	float: none; !important;
}

/* Popup container */
.popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
	visibility: hidden;
	width: 160px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity:1 ;}
}