<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments/head :: head">
<body>
    <nav th:insert="fragments/navbar :: navbar"></nav>


    <div th:insert="fragments/oblubene_temy:: oblubene_temy"></div>


    <div sec:authorize="hasRole('ROLE_QUICK')">
        <div th:insert="fragments/quicksearch:: quicksearch"></div>
    </div>
    <div>
        <div th:insert="fragments/aktualne_temy :: aktualne_temy"></div>
    </div>


    <div class="container forumContainer">
        <div class="row rowRok">

            <div class="col s12 m12 l12">
                <div class="card cardRocniky">
                    <div class="card-title">Vyber rok!</div>
                    <div class="card-content center-align cardRocniky">
                        <div th:each="rok : ${roky}">
                            <a th:href="@{/forum/rok/} + ${rok.id}" th:text="${rok.name}" class="btn indigo rocnik"><i class="material-icons right dropdown-trigger" data-target="dropdown">arrow_drop_down</i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <footer th:replace="fragments/footer :: footer"></footer>
</body>

</html>