<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head :: head">
<body>
    <nav th:insert="fragments/navbar :: navbar"></nav>

    <div class="container forumContainer">
        <div class="row valign-wrapper">
            <div class="col s12 m4 l4">
                <div class="card cardRocniky">
                    <div class="card-content center-align cardRocniky">
                        <div class="buttonclass" th:each="skolskyRok : ${skolskeRoky}">
                            <a th:href="@{/forum/rok/} + ${rok.id} + '/rocnik/' + ${skolskyRok.id}" th:text="${skolskyRok.name}" th:classappend="${idSkolskehoRoku == skolskyRok.id} ? _ : indigo" class="btn rocnik"><i class="material-icons right dropdown-trigger" data-target="dropdown">arrow_drop_down</i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m8 l8">
                <div class="card sectionCard">
                    <div class="card-title">Zvol skupinu!</div>
                    <div class="card-content center-align">
                        <div class="col s6 tlacitka1" th:each="skupina : ${skupiny}">
                            <a th:href="@{/forum/rok/} + ${rok.id} + '/rocnik/' + ${skolskyRok.id} + '/skupina/' + ${skupina.id}" th:text="${skupina.name}" class="btn indigo temyPodRocnikom"></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <footer th:replace="fragments/footer :: footer"></footer>
</body>

</html>