<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments/head :: head">
<body>
    <nav th:insert="fragments/navbar :: navbar"></nav>

    <div th:if="${oblubeneVlakna != null}" class="oblubeneVlakna valign-wrapper  indigo darken-1 z-depth-3">
        <div class="oblubeneTemy">
            <span class="white-text oblubeneVlakno">Oblubene temy: </span>
        </div>

        <div class="oblubenyPredmet center-align" th:each="oblubeneVlakno : ${oblubeneVlakna}">
            <div class="oblubeneVlakno">
                <a th:href="@{/forum/rok/} + ${oblubeneVlakno.getSection().getStudyYear().getYear().getId()} + '/rocnik/' + ${oblubeneVlakno.getSection().getStudyYear().getId()} + '/skupina/' + ${oblubeneVlakno.getSection().getId()} + '/vlakno/' + ${oblubeneVlakno.getId()}">
                    <span th:text="${oblubeneVlakno.getTitle()}" class="white-text"></span><br>
                    <span th:text="${oblubeneVlakno.getSection().getName()}" class="white-text"></span>
                </a>
            </div>
        </div>
    </div>

    <div sec:authorize="hasRole('ROLE_QUICK')">
        <div th:insert="fragments/quicksearch:: quicksearch"></div>
    </div>
    <a href="#akTemy" class="btn modal-trigger indigo aktualneTemy">Aktuálne témy</a>
    <div class="modal" id="akTemy">
        <div class="col s12 indigo jednoVlakno white-text center-align" th:each="aktualnaTema : ${aktualneTemy}">
            <a class="white-text" th:href="@{/forum/rok/} + ${aktualnaTema.getSection().getStudyYear().getYear().getId()} + '/rocnik/' + ${aktualnaTema.getSection().getStudyYear().getId()} + '/skupina/' + ${aktualnaTema.getSection().getId()} + '/vlakno/' + ${aktualnaTema.id}">
                <span class="nazovVlakna" th:text="${aktualnaTema.title}"></span><br>
                <span th:text="'Autor: ' + ${aktualnaTema.getUser().getUsername()}"></span><br>
                <span th:text=" ${aktualnaTema.getCreationDate()}"></span>
            </a>

        </div>
    </div>

    <div class="container forumContainer">
        <div class="row rowRok">

            <div class="col s12 m12 l12">
                <div class="card cardRocniky">
                    <div class="card-title">Vyber rok!</div>
                    <div class="card-content center-align cardRocniky">
                        <div th:each="rok : ${roky}">
                            <a th:href="@{/forum/rok/} + ${rok.id}" th:text="${rok.name}" class="btn indigo rocnik"><i class="material-icons right dropdown-trigger" data-target="dropdown">arrow_drop_down</i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- Dropdown Structures -->
    <!--
    <ul id="dropdown" class="dropdown-content ">
        <li><a th:href="@{/forum/rocnik} + ${rocnik.id} + '/LS'" class="indigo white-text">LS</a></li>
        <li><a th:href="@{/forum/rocnik} + ${rocnik.id} + '/ZS'" class="indigo white-text">ZS</a></li>
    </ul>
    -->
    <footer th:replace="fragments/footer :: footer"></footer>
</body>

</html>