<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head :: head">
<body>
    <nav th:insert="fragments/navbar :: navbar"></nav>

    <!-- CONTENT-->
    <div class="container">
        <!-- INFROMATION -->
        <div class="row profilCard">

            <div class="col s12 m6 l6 profileCardInner">
                <div class="row z-depth-2 infoCard">
                    <div class="row">
                        <div class="col s12">
                            <h5 class="center bold">INFO</h5>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s6 right-align">
                            <p th:if="${userProfile.user.info.name != ''}">Meno</p>
                            <p th:if="${userProfile.user.info.LastName != ''}">Priezvisko</p>
                            <p th:if="${userProfile.user.info.city != ''}">Mesto</p>
                            <p th:if="${userProfile.user.createdAt != null}">Dátum registrácie</p>
                            <p th:if="${userProfile.user.lastLoginTime != null}">Posledný dátum prihlásenia</p>
                            <p th:if="${userProfile.user.info.footer != ''}">Footer</p>
                        </div>
                        <div class="col s6">
                            <p th:text="${userProfile.user.info.name}"></p>
                            <p th:text="${userProfile.user.info.LastName}"></p>
                            <p th:text="${userProfile.user.info.city}"></p>
                            <p th:text="${userProfile.user.createdAt} ? ${#calendars.format(userProfile.user.createdAt, 'dd MMMM yyyy')}"></p>
                            <p th:text="${userProfile.user.lastLoginTime} ? ${#calendars.format(userProfile.user.lastLoginTime, 'dd MMMM yyyy')}"></p>
                            <p th:text="${userProfile.user.info.footer}"></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s12 m6 l6">
                <div class="row z-depth-2 statisticsCard">
                    <div class="row">
                        <div class="col s12">
                            <h5 class="center bold">ŠTATISTIKY</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6 right-align">
                            <p>Založené témy</p>
                            <p>Založené príspevky</p>
                            <p>Počet bodov</p>
                            <p>Počet peňazí</p>
                        </div>
                        <div class="col s6">
                            <p th:text="${userProfile.topics.size()}"></p>
                            <p th:text="${userProfile.posts.size()}"></p>
                            <p th:text="${userProfile.user.getPoints()}"></p>
                            <p th:text="${userProfile.user.getMoney()}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${#authorization.expression('hasRole(''ROLE_NOTIF'')')}">
            <div th:insert="fragments/google_alerts :: google_alerts"></div>
        </div>
    </div>

    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>