<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: head">
</head>
<body>
    <nav th:replace="fragments/navbar :: navbar"></nav>

    <div class="container forumContainer">
        <div class="row valign-wrapper">
            <div class="col s12 m4 l4">
                <div class="card cardRocniky">
                    <div class="card-title">Pomocné tlačítka!</div>
                    <div class="card-content center-align cardRocniky">
                        <div>
                            <a th:href="@{/forum}" class="btn rocnik navratoveTlacitko">Späť na rok</a>
                        </div>
                        <div>
                            <a th:href="@{/forum} + '/rok/' + ${rok.id}" class="btn rocnik navratoveTlacitko">Späť na kategóriu</a>
                        </div>
                        <div>
                            <a th:href="@{/forum} + '/rok/' + ${rok.id} + '/rocnik/' + ${skolskyRok.id}" class="btn rocnik navratoveTlacitko">Späť na skupinu</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m8 l8">
                <div class="card sectionCard">
                    <div class="scrollTopics">
                        <div class="col s12 jednoVlakno indigo white-text center-align" th:each="vlakno : ${vlakna}">
                            <a class="white-text" th:href="@{/forum/rok/} + ${rok.id} + '/rocnik/' + ${skolskyRok.id} + '/skupina/' + ${skupina.id} + '/vlakno/' + ${vlakno.id}">
                                <span class="nazovVlakna" th:text="${vlakno.title}"></span><br>
                                <span th:text="'Autor: ' + ${vlakno.getUser().getUsername()}"></span><br>
                                <span th:text=" ${vlakno.getCreationDate()}"></span>
                            </a>

                        </div>
                    </div>
                </div>
            </div>

        </div>



    </div>




    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
