<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: head">
</head>
<body>
    <nav th:replace="fragments/navbar :: navbar"></nav>

    <div th:if="${oblubeneVlakna != null}" class="oblubeneVlakna valign-wrapper  indigo darken-1 z-depth-3">
        <div class="oblubeneTemy">
            <span class="white-text oblubeneVlakno">Oblubene temy: </span>
        </div>

        <div class="oblubenyPredmet center-align" th:each="oblubeneVlakno : ${oblubeneVlakna}">
            <div class="oblubeneVlakno">
                <a th:href="@{/forum/rok/} + ${oblubeneVlakno.getSection().getStudyYear().getYear().getId()} + '/rocnik/' + ${oblubeneVlakno.getSection().getStudyYear().getId()} + '/skupina/' + ${oblubeneVlakno.getSection().getId()} + '/vlakno/' + ${oblubeneVlakno.getId()}">
                    <span th:text="${oblubeneVlakno.getTitle()}" class="white-text"></span><br>
                    <span th:text="${oblubeneVlakno.getSection().getName()}" class="white-text"></span>
                </a>
            </div>
        </div>
    </div>


    <div class="container forumContainer">
        <div class="row valign-wrapper">
            <div class="col s12 m6 l6">
                <div class="card sectionCard">
                    <div class="card-content center-align">
                        <div class="col s6 tlacitka1" th:each="skupina : ${skupiny}">
                            <a th:href="@{/forum/rok/} + ${rok.id} + '/rocnik/' + ${skolskyRok.id} + '/skupina/' + ${skupina.id}" th:text="${skupina.name}" th:classappend="${skupinaId == skupina.id ? '_' : 'indigo'}" class="btn temyPodRocnikom"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l6">
                <div class="card sectionCard">
                    <div class="scrollTopics">
                        <div class="col s12 jednoVlakno indigo white-text center-align" th:each="vlakno : ${vlakna}">
                            <a class="white-text" th:href="@{/forum/rok/} + ${rok.id} + '/rocnik/' + ${skolskyRok.id} + '/skupina/' + ${skupina.id} + '/vlakno/' + ${vlakno.id}">
                                <span class="nazovVlakna" th:text="${vlakno.title}"></span><br>
                                <span th:text="'Autor: ' + ${vlakno.getUser().getUsername()}"></span><br>
                                <span th:text=" ${vlakno.getCreationDate()}"></span>
                            </a>

                        </div>
                    </div>
                </div>
            </div>

        </div>



    </div>




    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
