<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: head">
</head>
<body>
    <nav th:replace="fragments/navbar :: navbar"></nav>
    <div th:insert="fragments/oblubene_temy:: oblubene_temy"></div>


    <div sec:authorize="hasRole('ROLE_QUICK')">
        <div th:insert="fragments/quicksearch:: quicksearch"></div>
    </div>
    <div>
        <div th:insert="fragments/aktualne_temy :: aktualne_temy"></div>
    </div>

    <div class="novaTema">
        <form th:action="@{/forum/rok/} + ${rok.id} + '/rocnik/' + ${skolskyRok.id} + '/skupina/' + ${skupina.id} + '/vlakno/new'">
            <button type="submit" class="btn indigo">
                <i class="">Nová téma</i>
            </button>
        </form>
    </div>

    <div class="container forumContainer">
        <div class="row valign-wrapper">
            <div class="col s12 m6 l6">
                <div class="card sectionCard">
                    <div class="card-content center-align">
                        <div class="col s6 tlacitka1" th:each="skupina : ${skupiny}">
                            <a th:href="@{/forum/rok/} + ${rok.id} + '/rocnik/' + ${skolskyRok.id} + '/skupina/' + ${skupina.id}" th:text="${skupina.name}" th:classappend="${skupinaId == skupina.id ? '_' : 'indigo'}" class="btn temyPodRocnikom"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l6">
                <div class="card sectionCard">
                    <div class="scrollTopics">
                        <div class="col s12 jednoVlakno indigo white-text center-align" th:each="vlakno : ${vlakna}">
                            <a class="white-text" th:href="@{/forum/rok/} + ${rok.id} + '/rocnik/' + ${skolskyRok.id} + '/skupina/' + ${skupina.id} + '/vlakno/' + ${vlakno.id}">
                                <span class="nazovVlakna" th:text="${vlakno.title}"></span><br>
                                <span th:text="'Autor: ' + ${vlakno.getUser().getUsername()}"></span><br>
                                <span th:text="${vlakno.creationDate} ? ${#calendars.format(vlakno.creationDate, 'HH:mm:ss')} + ' - ' + ${#calendars.format(vlakno.creationDate, 'dd MMMM yyyy')}"></span>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
