<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head :: head">
<body class="bodyProfil">
    <nav th:insert="fragments/navbar :: navbar"></nav>


    <!-- CONTENT-->


  <div class="container rankingContainer">
   
    <div class="row">
      <div class="col s12 m6">
          <div class="card">
              <div class="card-content">
                  <span class="card-title">Top 10 poradcov!!!</span>
                  <p>1. Tomino Lisicky</p>
                  <p>2. Tomino Lisicky</p>
                  <p>3. Tomino Lisicky</p>
                  <p>4. Tomino Lisicky</p>
                  <p>5. Tomino Lisicky</p>
                  <p>6. Tomino Lisicky</p>
                  <p>7. Tomino Lisicky</p>
                  <p>8. Tomino Lisicky</p>
                  <p>9. Tomino Lisicky</p>
                  <p>10. Tomino Lisicky</p>
              </div>
          </div>
      </div>
      <div class="col s12 m6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Top 10 rich bitches!!!</span>
                <p>1. Tomino Lisicky</p>
                <p>2. Tomino Lisicky</p>
                <p>3. Tomino Lisicky</p>
                <p>4. Tomino Lisicky</p>
                <p>5. Tomino Lisicky</p>
                <p>6. Tomino Lisicky</p>
                <p>7. Tomino Lisicky</p>
                <p>8. Tomino Lisicky</p>
                <p>9. Tomino Lisicky</p>
                <p>10. Tomino Lisicky</p>
            </div>
        </div>
    </div>
    </div>
   
  </div>

    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>