@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

header{
	background: url(../img/bg1.png);
	background-size: cover;
	background-position: center;
	min-height: 1000px;
}

footer {
	flex: 1 0 auto;
}

nav {
	font-weight: 300;
}

body>.container {
	padding-top: 50px;
	min-height: 75vh;
}
.bold {
	font-weight: bold;
}
.stretch {
	position: relative;
	min-height: 73vh; /* calculated for 1920 x 1080 */
}
h2{
	text-align: center;
	margin-top: 120px;
	margin-bottom: 0px;
}
.rankingContainer{
	margin-top: 100px;
}

/* PROFIL */

.context {
	width: 100%;
	position: absolute;
	top:50vh;

}

.context h1{
	text-align: center;
	color: #fff;
	font-size: 50px;
}


.area{
	background: #4e54c8;
	background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
	width: 100%;
	height:100vh;


}

.circles{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.circles li{
	position: absolute;
	display: block;
	list-style: none;
	width: 20px;
	height: 20px;
	background: rgba(255, 255, 255, 0.2);
	animation: animate 25s linear infinite;
	bottom: -150px;

}

.circles li:nth-child(1){
	left: 25%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}


.circles li:nth-child(2){
	left: 10%;
	width: 20px;
	height: 20px;
	animation-delay: 2s;
	animation-duration: 12s;
}

.circles li:nth-child(3){
	left: 70%;
	width: 20px;
	height: 20px;
	animation-delay: 4s;
}

.circles li:nth-child(4){
	left: 40%;
	width: 60px;
	height: 60px;
	animation-delay: 0s;
	animation-duration: 18s;
}

.circles li:nth-child(5){
	left: 65%;
	width: 20px;
	height: 20px;
	animation-delay: 0s;
}

.circles li:nth-child(6){
	left: 75%;
	width: 110px;
	height: 110px;
	animation-delay: 3s;
}

.circles li:nth-child(7){
	left: 35%;
	width: 150px;
	height: 150px;
	animation-delay: 7s;
}

.circles li:nth-child(8){
	left: 50%;
	width: 25px;
	height: 25px;
	animation-delay: 15s;
	animation-duration: 45s;
}

.circles li:nth-child(9){
	left: 20%;
	width: 15px;
	height: 15px;
	animation-delay: 2s;
	animation-duration: 35s;
}

.circles li:nth-child(10){
	left: 85%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 11s;
}



@keyframes animate {

	0%{
		transform: translateY(0) rotate(0deg);
		opacity: 1;
		border-radius: 0;
	}

	100%{
		transform: translateY(-1000px) rotate(720deg);
		opacity: 0;
		border-radius: 50%;
	}

}

.rocnik{
	margin-bottom: 15px;
	margin-top: 15px;
	width: 120px;
}


.tlacitka1{
	margin-top: 50px;
}
.temyPodRocnikom{
	width: 100px;
}

.cardRocniky{
	width: 300px;
	text-align: center;
	margin: auto;
}

.cardRocnikyContent{
	height: 450px;
	text-align: center;
}

.buttonclass{
	width: 150px;
	text-align: center;
	margin: auto;
	margin-bottom: 20px;
}

.sectionCard{
	height: 450px;
	text-align: center;
}
.jednoVlakno{
	height: 100px;
	border: 3px solid white;
}

.scrollTopics{
	max-height: 450px;
	display: block;
	overflow: hidden;
}

.nazovVlakna{
	font-size: 25px;
}

.kdeSom{
	position: absolute;
	width: 300px;
	height: 70px;
	margin-left: 200px;
}

.oblubeneTemy{
	width: 100%;
	height: 70px;
}

.rowRok{
	margin-top: 100px;
}