<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head :: head">
<body>
    <nav th:insert="fragments/navbar :: navbar"></nav>

    <!-- CONTENT-->
    <h2 class="nazov">K dipozícií máte:</h2>
    <div class="center-align"><h4 th:text="'Tvoj budget je: '+${user.getMoney()}+'$'"></h4></div>
    <div class="container upravaDiv">

        <div class="row upravaRow">
            <div class="col s12 m6 l6 stvorec">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Odmena 1.</span>
                        <p>Lepší search engine</p>
                        <p>Vyhľadávaj lepšie to čo potrebuješ bez stráty času ! (Vyhľadá sekcie na základe
                        použitého slova)</p>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
                <form th:action="@{/obchod/unlock1}">
                    <div class="center-align">
                        <div th:if="${user.getMoney() >= 200}">
                            <button type="submit" th:disabled="${#authorization.expression('hasRole(''ROLE_QUICK'')')}" class="btn waves-effect waves-light indigo">ODOMKNÚŤ (20 000$)<i class="material-icons right">lock_open</i></button>
                        </div>
                        <div th:unless="${user.getMoney() >= 200}">
                            <a type="submit" class="btn waves-effect waves-light indigo modal-trigger" href="#modal1">ODOMKNÚŤ (20 000$)<i class="material-icons right">lock_open</i></a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col s12 m6 l6 stvorec">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Odmena 2.</span>
                        <p>Nový rich text editor</p>
                        <img th:src="@{resources/img/editor.png}" th:width="530px" th:height="113px"/>
                    </div>
                </div>
                <form th:action="@{/obchod/unlock2}">
                    <div class="center-align">
                        <div th:if="${user.getMoney() >= 20000}">
                            <button type="submit" th:disabled="${#authorization.expression('hasRole(''ROLE_TEXT'')')}" class="btn waves-effect waves-light indigo">ODOMKNÚŤ (40 000$)<i class="material-icons right">lock_open</i></button>
                        </div>
                            <div th:unless="${user.getMoney() >= 20000}">
                            <a type="submit" class="btn waves-effect waves-light indigo modal-trigger" href="#modal1">ODOMKNÚŤ (40 000$)<i class="material-icons right">lock_open</i></a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col s12 m6 l6">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Odmena 3.</span>
                        <p>Zostaň vždy spojený s témami, ktoré sa ťa najviac dotýkajú. Priraď si určité slová (alebo frázy),
                        ktoré ťa zaujímajú a my ťa informujeme ak sa podobná téma objaví. (Odmenu nájdeš vo svojom profile)</p>
                        <br>
                    </div>
                </div>
                <form th:action="@{/obchod/unlock3}">
                    <div class="center-align">
                        <div th:if="${user.getMoney() >= 200}">
                        <button type="submit" th:disabled="${#authorization.expression('hasRole(''ROLE_NOTIF'')')}" class="btn waves-effect waves-light indigo">ODOMKNÚŤ (30 000$)<i class="material-icons right">lock_open</i></button>
                        </div>
                        <div th:unless="${user.getMoney() >= 200}">
                            <a type="submit" class="btn waves-effect waves-light indigo modal-trigger" href="#modal1">ODOMKNÚŤ (30 000$)<i class="material-icons right">lock_open</i></a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col s12 m6 l6">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Odmena 4.</span>
                        <p>Zmeň si svoje prihlasovacie meno no bude ťa to niečo stáť</p>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
                <p class="center-align">
                    <a href="#modal" class="btn waves-effect waves-light indigo modal-trigger">ZMENIŤ (10 000$)<i class="material-icons right">lock_open</i></a>
                </p>
            </div>

        </div>
    </div>

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
            <div class="modal-content">
                <h4 style="font-family: 'Comic Sans MS'">Nemáš dostatok peňazí !</h4>
            </div>
            <div class="row">
                <div class="modal-footer">
                    <button type="submit" class="modal-close waves-effect waves-green btn-flat indigo darken-4 white-text">Submit</button>
                </div>
            </div>
    </div>

    <!-- Modal Structure -->
    <div id="modal" class="modal">
        <form th:action="@{/obchod/unlock4}" th:object="${zmena_mena}">
            <div class="modal-content">
                <h4 style="font-family: 'Comic Sans MS'">Zmeň si svoje meno</h4>
                <div class="center-align">
                        <textarea th:field="*{content}" name="content" id="text">
                        </textarea>
                </div>
            </div>
            <div class="row">
                <div class="modal-footer">
                    <button type="submit" class="modal-close waves-effect waves-green btn-flat indigo darken-4 white-text">Submit</button>
                </div>
            </div>
        </form>
    </div>

    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>