<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head :: head">
<body class="bodyProfil">
    <nav th:insert="fragments/navbar :: navbar"></nav>


    <!-- CONTENT-->


  <div class="container">
    <div class="row rowRanking">
      <div class="col s12 m6">
          <div class="card">
              <div class="card-content">
                  <span class="card-title">Top 5 poradcov!!!</span>
                  <div th:each="uzivatelP : ${uzivateliaPoints}">
                      <span th:text="${uzivatelP.getUsername()} + ' - počet bodov: ' + ${uzivatelP.getPoints()}"></span>
                  </div>
              </div>
          </div>
      </div>
      <div class="col s12 m6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Top 5 rich bitches!!!</span>
                <div th:each="uzivatelM : ${uzivateliaMoney}">
                    <span th:text="${uzivatelM.getUsername()} + ' - počet peňazí: ' + ${uzivatelM.getMoney()}"></span>
                </div>
            </div>
        </div>
    </div>
    </div>
   
  </div>

    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>